.header-content{
    min-height: 15vh;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}


@media screen and (min-width: 768px){
    .header-content{
        min-height: 30vh;
    }
    .header-title{
        font-size: 3.2rem;
    }
    .header-text{
        margin-top: -2.8rem;
        margin-bottom: 3.8rem;
    }
}
